services:
  app:
    build:
      context: .
      target: dev
    ports:
      - "3005:3005"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    env_file:
      - .env.local
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true
